MYSQL_HOST="localhost"
MYSQL_PORT=3306
MYSQL_USER="user"
MYSQL_PASSWORD="password"
MYSQL_DATABASE="alx_travel_app"

SECRET_KEY="alx_travel_app"

DEBUG=True

CHAPA_SECRET_KEY=CHASECK_TEST-jdkjndskdjsklnjsk

RABBITMQ_URL=amqp://guest:guest@localhost:5672//
CELERY_RESULT_BACKEND='rpc://'

EMAIL_HOST="sandbox.smtp.mailtrap.io"
EMAIL_PORT=587
EMAIL_HOST_USER='ksjsjs'
EMAIL_HOST_PASSWORD='jsjsjs'
DEFAULT_FROM_EMAIL='alx.travel.app@gmail.com'